<%# unless current_user.is_a? GuestUser %>
<% if @listing.user = current_user %>
<%= form_for([@listing, @listing.comments.build]) do |f| %>
<p> <%= f.label :title %> </p>
<p> <%= f.text_field :title %> </p>
<p> <%= f.label :message %> </p>
<p> <%= f.text_area :message %> </p>
<%= f.submit %>
<% end %>
<% end %>
