<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%=link_to "FindMe",root_path  %>  > New listing 
    </div>
  </div>
</div>
<%#<div class="container"> %>
  <%#<div id="contact-area"> %>
    <%= form_for @listing do |f| %>
       <p><%= f.label :title %>
      <%= f.text_field :title %></p>
      <p><%= f.label :description %>
      <%= f.text_area :description %></p>
      <p>  <%= f.label :category_id %>
      <%= f.select :category_id, Category.all.map {|f| [f.name,f.id]} %> </p>
      <p>  <%= f.label :subcategory_id %>
      <%= f.select :subcategory_id, Subcategory.all.map {|f| [f.name,f.id]} %> </p>
      <p><%= f.label :city %>
      <%= f.text_field :city %></p>
      <p><%= f.label :state %>
      <%= f.text_field :state %></p>
      <p><%= f.label :zipcode %>
      <%= f.text_field :zipcode, class: "zip-width", maxlength: "5" %></p><%# width and max length are optionalzip width makes box appear smaller and length 5 limits digits to 5. %>
      <p><%= f.submit class:"create-button" %> </p><%# class optional to make button prettier, mentioned in css %>
    <% end %>
  <%#</div>
</div> %>
